{{ extends "base.html" }}

{{ block title }}Blog{{ endblock }}

{{ block content }}

{{ for $post in @posts }}
    <article class="uk-article">
        {{ let $postPath = concat_arr(["blog/", $post.slug, ".html"]) }}
        <h1 class="uk-article-title">
            <a href="{- $postPath }}"> {- $post.title }} </a>
        </h1>

        <p class="uk-article-meta">{- $post.ttr }} minutes to read</p>

        <p>
          {- $post.description}}
        </p>

        <p>
          <a class="uk-button uk-button-primary" href="{- $postPath }}">Continue Reading</a>
        </p>
    </article>
{{ endfor }}
{{ endblock }}
